.page-banner {
  width: 100%;
  min-height: 891px;
  margin-top: -103px;
  background-color: #3a545f;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
