.page-banner {
  width: 100%;
  min-height: 788px;
}

.page-banner__container {
  display: flex;
  flex-direction: column;
  padding: 250px 41.25% 50px 13.12%;
}

.page-banner__text {
  margin: 0;
  width: 520px;
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 70px;
  text-align: right;
}

.page-banner__button {
  margin-left: 240px;
}

.page-banner__note {
  width: 280px;
  margin-left: 240px;
  margin-top: 12px;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}
