.page-header {
  width: 100%;
  border-bottom: 2px solid rgba(65, 68, 68, 0.2);
}

.page-header__container {
  display: flex;
  flex-direction: row;
  padding: 28px 2.19% 28px 13.12%;
}

.page-header__logo {
  width: 23%;
  font-size: 9.5px;
  line-height: 24px;
  font-style: italic;
  padding-top: 10px;
}

.page-header__logo-image {
  vertical-align: middle;
  margin-right: 6px;
}

.page-header__nav {
  width: 480px;
  margin-left: auto;
  margin-right: 15px;
}
