.search-form {
  position: relative;
}

.search-form__input {
  width: 220px;
  padding: 15px 40px 15px 28px;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;

  &::placeholder {
    font-size: 12px;
    line-height: 74.54px;
  }
}

.search-form__button {
  position: absolute;
  right: 20px;
  top: 14px;
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: 0;
  background-color: #ffffff;
}
