.search-form {
  position: relative;
}

.search-form__button {
  position: absolute;
  right: 10px;
  top: 14px;
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: 0;
  fill: #b6b6b6;
  background-color: transparent;

  &:hover {
    fill: #64bfe1;
  }

  &:focus {
    fill: #64bfe1;
  }
}

.search-form__input {
  width: 220px;
  padding: 14px 40px 14px 28px;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;

  &::placeholder {
    font-size: 12px;
    line-height: 74.54px;
  }

  &:hover {
    padding: 13px 39px 13px 27px;
    border: 1px solid #64bfe1;
  }

  &:focus {
    padding: 13px 39px 13px 27px;
    border: 1px solid #64bfe1;
  }
}
